@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
:root{
--bg-color: #ffffff;
--text-color: #000;
--second-color: #a09dab;
--main-color: #f75023;
--big-font: 80px;
--h2-font: 48x;
--p-font: 18px;
}
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;}
    html{
        scroll-behavior: smooth;
    }
    


body {
    font-family: 'Montserrat', sans-serif;
}